body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: beige;
  background: linear-gradient(to right, rgb(40, 60, 134), rgb(69, 162, 71));  
  font-family: cursive;
}